


/* Kanit */

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Thin.eot');
    src: url('../fonts/kanit/hinted-Kanit-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Thin.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Thin.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Thin.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Thin.svg#Kanit-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Medium.eot');
    src: url('../fonts/kanit/hinted-Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Medium.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Medium.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Medium.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-ThinItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-ThinItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-ThinItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-ThinItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-ThinItalic.svg#Kanit-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Regular.eot');
    src: url('../fonts/kanit/hinted-Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Regular.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Regular.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Regular.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-SemiBoldItalic.svg#Kanit-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Light.eot');
    src: url('../fonts/kanit/hinted-Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Light.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Light.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Light.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Light.svg#Kanit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Bold.eot');
    src: url('../fonts/kanit/hinted-Kanit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Bold.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Bold.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Bold.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Bold.svg#Kanit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Black.eot');
    src: url('../fonts/kanit/hinted-Kanit-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Black.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Black.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Black.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Black.svg#Kanit-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-ExtraBold.eot');
    src: url('../fonts/kanit/hinted-Kanit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-ExtraBold.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-ExtraBold.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-ExtraBold.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-ExtraBold.svg#Kanit-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-ExtraLight.eot');
    src: url('../fonts/kanit/hinted-Kanit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-ExtraLight.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-ExtraLight.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-ExtraLight.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-ExtraLight.svg#Kanit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-SemiBold.eot');
    src: url('../fonts/kanit/hinted-Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-SemiBold.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-SemiBold.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-SemiBold.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-SemiBold.svg#Kanit-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-ExtraLightItalic.svg#Kanit-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-BoldItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-BoldItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-BoldItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-BoldItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-BoldItalic.svg#Kanit-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-LightItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-LightItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-LightItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-LightItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-LightItalic.svg#Kanit-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-MediumItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-MediumItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-MediumItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-MediumItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-MediumItalic.svg#Kanit-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-BlackItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-BlackItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-BlackItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-BlackItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-BlackItalic.svg#Kanit-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-Italic.eot');
    src: url('../fonts/kanit/hinted-Kanit-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-Italic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-Italic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-Italic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-Italic.svg#Kanit-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.eot');
    src: url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/kanit/hinted-Kanit-ExtraBoldItalic.svg#Kanit-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}






